# This file may be used to create an environment:
python==3.8.19
numpy==1.23.5
pandas==1.5.3
scipy==1.10.1
matplotlib==3.7.5
seaborn==0.12.2
scikit-learn==1.2.2
missingno==0.5.2
kneed==0.7.0
plotly==5.10.0